<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Protorype</title>
    <%- include("../partials/css.min.ejs")   -%>
    <link href="http://hayageek.github.io/jQuery-Upload-File/4.0.11/uploadfile.css" rel="stylesheet">
</head>

<body>
    <div class="dashboard-main-wrapper">
        <div class="dashboard-header">
            <%- include('../partials/header') -%>
        </div>
        <div class="nav-left-sidebar sidebar-dark">
            <%- include('../partials/sidebar') -%>
        </div>
        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content">
                <%- include('../partials/subHeader') -%>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Basic Table</h5>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="book-table" style="width:100%" class="table table-striped table-bordered first">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>ID</th>
                                                <th>Content</th>
                                                <th>Attachment</th>
                                                <th>Category</th>
                                                <th>Terakhir Update</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <%- include("../partials/footer")   -%>
            </div>
        </div>
    </div>
    <%- include("../partials/js.min.ejs")   -%>
    <!-- custom library -->
    <script src="/public/js/custon-jquery-upload.js"></script>
    <!-- End -->
    <%- include("./m-add")   -%>
    <%- include("./../category/m-add")   -%>
    <%- include("./../partials/modal-info.ejs")   -%>
    <script type="text/javascript">
        table = $('#book-table').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": "/app/post/getPostDTL",
            "language": {
                "lengthMenu": 'Display <select class="form-control form-control-sm">' +
                    '<option value="10">10</option>' +
                    '<option value="20">20</option>' +
                    '<option value="30">30</option>' +
                    '<option value="40">40</option>' +
                    '<option value="50">50</option>' +
                    '<option value="-1">All</option>' +
                    '</select>'
            },
            dom:
                "<'row'<'col-sm-7'B><'col-sm-1'l><'col-sm-4'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",
            buttons: [
                {
                    text: 'Add Post',
                    name: 'addPost',
                    className: 'btn btn-sm btn-secondary',
                }
            ]
        });
        table.button('addPost:name').nodes().attr('data-target', '#exampleModal').attr('data-toggle', 'modal');
        // set progress content
        $('textarea').on('keyup blur', function () {
            var val = $(this).val();
            $(".progress-bar").css('width', `${(100 / 100) * val.length}%`).html(`${(100 / 100) * val.length}%`)

            if (val.length > 100) {
                $(this).val(val.slice(0, 100));
            }
        });
    </script>
</body>

</html>